<html>
    <h1>xelatex pdf converter</h1>
    <form action="compile">
      <input type="submit" value="Submit"><br>
      Latex code:<br>
      <textarea name="text" rows="100" cols="200"></textarea><br>
      <input type="submit" value="Submit">
    </form>
</html>
